<%= render 'layouts/navigation' %>
<div class="jumbotron text-center">
	<h1> Welcome <% if user_signed_in? %><%= current_user.email %> <% end %> </h1>
	<p>...</p>
	<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>


